# TUPLE

# Write a program to Reverse the given tuple (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
# Write a program to Access value 58 from the above tuple
# Write a program to Counts the number of occurrences of item 55 from the above tuple
# Write a program to return values 49 and 57 from the above tuple.

In [18]:
numbers = (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
change = reversed(numbers)
change1 = tuple(change)


print(change1)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [42]:
print(numbers[9])

58

In [3]:
print(numbers.count(55))

5

In [5]:
numbers = (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
change = reversed(numbers)
change1 = tuple(change)


print([numbers[e] for e in (6,13)])

[49, 57]

# LIST
# Write a program to Reverse the given list [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
# Write a program to Access value 58 from the above list
# Write a program to Counts the number of occurrences of item 51 from the above list
# Write a program to return values 49 and 57 from the above list.
# Write a program to add item 69 after 49 in the following Python List
# Write a program to extend [89,85,36,95,45,78] to the above list

In [3]:
number = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
number.reverse()


print(number)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [146]:
numbers = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

print(numbers[9])

58

In [147]:
print(numbers.count(51))

2

In [8]:
print([numbers[e] for e in (6,19)])

[49, 57]

In [149]:
numbers.insert(7, 69)

print(numbers)

[46, 53, 45, 48, 55, 45, 49, 69, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [150]:
numbers2 = [89,85,36,95,45,78]

numbers.extend(numbers2)

print(numbers)

[46, 53, 45, 48, 55, 45, 49, 69, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 89, 85, 36, 95, 45, 78]

# DICTIONARY
# Write a Python program to create a new dictionary having 10 football club names as the key with each key holding the following values(location,managersname,clubcaptain,networth,clubformation)

In [13]:
football_clubs = {
    "Real_Madrid":{"location":"madrid, spain","managersname":"Carlo Ancelotti","clubcaptain":"Karim  Benzema","networth":"$5.1 billion","clubformation":"4-3-3"},
   
    "FC_Barcelona":{"location":"barcelona, spain","managersname":"Xavi Hernandez","clubcaptain":"Sergio Busquets","networth":"$4.8 billion","clubformation":"4-3-3"},
    
    "Manchester United":{"location":"manchester, united kingdom","managersname":"Erik ten Hag","clubcaptain":"Harry Maguire","networth":"$4.6 billion","clubformation":"4-2-3-1"},
    
    "Bayern Munich":{"location":"munich, germany","managersname":"Julian Nagelsmann","clubcaptain":"Manuel Neuer","networth":"$4.22 billion","clubformation":"4-2-3-1"},
    
    "Chelsea":{"location":"london, united kingdom","managersname":"Thomas Tuchel","clubcaptain":"Cesar Azpilicueta","networth":"$3.2 billion","clubformation":"3-4-2-1"},
    
    "Manchester City":{"location":"united kingdom","managersname":"Pep Guardiola","clubcaptain":"Iikay Gundogan","networth":"$4 billion","clubformation":"4-2-1-3"},
    
    "Juventus":{"location":"turin, italy","managersname":"Massimiliano Allegri","clubcaptain":"Leonardo Bonucci","networth":"$2.45 billion","clubformation":"4-4-2"},
    
    "Arsenal":{"location":"london, united kingdom","managersname":"Mikel Arteta","clubcaptain":"Martin Odegaard","networth":"$2.8 billion","clubformation":"4-3-3"},
    
    "AC Milan":{"location":"milan, italy","managersname":"Stefano pioli","clubcaptain":"David e Calabria","networth":"$1.2 billion","clubformation":"4-2-3-1"},
    
    "Borussia Dortmund":{"location":"dortmund, germany","managersname":"Edin Terzic","clubcaptain":"Marco Reus","networth":"$1.8 billion","clubformation":"3-4-2-1"}
}
    # the key is a string and sub keys and values are dictionary

    
print(football_clubs)

{'Real_Madrid': {'location': 'madrid, spain', 'managersname': 'Carlo Ancelotti', 'clubcaptain': 'Karim  Benzema', 'networth': '$5.1 billion', 'clubformation': '4-3-3'}, 'FC_Barcelona': {'location': 'barcelona, spain', 'managersname': 'Xavi Hernandez', 'clubcaptain': 'Sergio Busquets', 'networth': '$4.8 billion', 'clubformation': '4-3-3'}, 'Manchester United': {'location': 'manchester, united kingdom', 'managersname': 'Erik ten Hag', 'clubcaptain': 'Harry Maguire', 'networth': '$4.6 billion', 'clubformation': '4-2-3-1'}, 'Bayern Munich': {'location': 'munich, germany', 'managersname': 'Julian Nagelsmann', 'clubcaptain': 'Manuel Neuer', 'networth': '$4.22 billion', 'clubformation': '4-2-3-1'}, 'Chelsea': {'location': 'london, united kingdom', 'managersname': 'Thomas Tuchel', 'clubcaptain': 'Cesar Azpilicueta', 'networth': '$3.2 billion', 'clubformation': '3-4-2-1'}, 'Manchester City': {'location': 'united kingdom', 'managersname': 'Pep Guardiola', 'clubcaptain': 'Iikay Gundogan', 'networth': '$4 billion', 'clubformation': '4-2-1-3'}, 'Juventus': {'location': 'turin, italy', 'managersname': 'Massimiliano Allegri', 'clubcaptain': 'Leonardo Bonucci', 'networth': '$2.45 billion', 'clubformation': '4-4-2'}, 'Arsenal': {'location': 'london, united kingdom', 'managersname': 'Mikel Arteta', 'clubcaptain': 'Martin Odegaard', 'networth': '$2.8 billion', 'clubformation': '4-3-3'}, 'AC Milan': {'location': 'milan, italy', 'managersname': 'Stefano pioli', 'clubcaptain': 'David e Calabria', 'networth': '$1.2 billion', 'clubformation': '4-2-3-1'}, 'Borussia Dortmund': {'location': 'dortmund, germany', 'managersname': 'Edin Terzic', 'clubcaptain': 'Marco Reus', 'networth': '$1.8 billion', 'clubformation': '3-4-2-1'}}