### (1) Create a table for Spanish League, Italian League and French League         having the same columns name as the English premier league

### (2) insert the clubs with their various records

In [43]:
import pymysql

In [44]:

mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Diamond100$',
    database = 'footballmanagementsystem'
)
mycursor = mydb.cursor()

In [48]:

mycursor.execute('create table Spanish_League(positionID int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null, Draw int not null, Lost int not null, GoalFor int not null, GoalAgainst int not null,Goaldifference int not null,Point int not null)')

0

In [49]:
sl = 'insert into Spanish_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,GoalAgainst,Goaldifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
value = [(1,'Real Betis',3,3,0,0,6,1,5,9),
       (2,'Villarreal',2,2,0,0,5,0,5,6),
       (3,'Real Madrid',2,2,0,0,6,2,4,6),
       (4,'Osasuna',3,2,0,1,4,2,2,6),
       (5,'Real Sociedad',3,2,0,1,3,4,-1,6),
       (6,'Barcelona',2,1,1,0,4,1,3,4),
       (7,'Real Mallorca',3,1,1,1,3,2,1,4),
       (8,'Athletic Bilbao',2,1,1,0,1,0,1,4),
       (9,'Almeria',3,1,1,1,4,4,0,4),
       (10,'Rayo Vallecano',3,1,1,1,2,2,0,4),
       (11,'Celta Vigo',3,1,1,1,4,6,-2,4),
       (12,'Atletico Madrid',2,1,0,1,3,2,1,3),
       (13,'Girona',3,1,0,2,3,3,0,3),
       (14,'Valencia',2,1,0,1,1,1,0,3),
       (15,'sevilla',3,0,1,2,3,5,-2,1),
       (16,'Espanyol',2,0,1,1,2,4,-2,1),
       (17,'Real Valladolid',2,0,1,1,1,4,-3,1),
       (18,'Elche',3,0,1,2,1,5,-4,1),
       (19,'cadiz',2,0,0,2,0,3,-3,0),
       (20,'Getafe',2,0,0,2,1,6,-5,0)]

mycursor.executemany(sl,value)
mydb.commit()

In [15]:
mycursor.execute('select * from spanish_league')
for x in mycursor:
    print(x)

(1, 'Real Betis', 3, 3, 0, 0, 6, 1, 5, 9)
(2, 'Villarreal', 2, 2, 0, 0, 5, 0, 5, 6)
(3, 'Real Madrid', 2, 2, 0, 0, 6, 2, 4, 6)
(4, 'Osasuna', 3, 2, 0, 1, 4, 2, 2, 6)
(5, 'Real Sociedad', 3, 2, 0, 1, 3, 4, -1, 6)
(6, 'Barcelona', 2, 1, 1, 0, 4, 1, 3, 4)
(7, 'Real Mallorca', 3, 1, 1, 1, 3, 2, 1, 4)
(8, 'Athletic Bilbao', 2, 1, 1, 0, 1, 0, 1, 4)
(9, 'Almeria', 3, 1, 1, 1, 4, 4, 0, 4)
(10, 'Rayo Vallecano', 3, 1, 1, 1, 2, 2, 0, 4)
(11, 'Celta Vigo', 3, 1, 1, 1, 4, 6, -2, 4)
(12, 'Atletico Madrid', 2, 1, 0, 1, 3, 2, 1, 3)
(13, 'Girona', 3, 1, 0, 2, 3, 3, 0, 3)
(14, 'Valencia', 2, 1, 0, 1, 1, 1, 0, 3)
(15, 'sevilla', 3, 0, 1, 2, 3, 5, -2, 1)
(16, 'Espanyol', 2, 0, 1, 1, 2, 4, -2, 1)
(17, 'Real Valladolid', 2, 0, 1, 1, 1, 4, -3, 1)
(18, 'Elche', 3, 0, 1, 2, 1, 5, -4, 1)
(19, 'cadiz', 2, 0, 0, 2, 0, 3, -3, 0)
(20, 'Getafe', 2, 0, 0, 2, 1, 6, -5, 0)

In [45]:

mycursor.execute('create table Italian_League(positionID int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null, Draw int not null, Lost int not null, GoalFor int not null, GoalAgainst int not null,Goaldifference int not null,Point int not null)')

0

In [46]:
il = 'insert into Italian_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,GoalAgainst,Goaldifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'AC Milan',3,2,1,0,7,3,4,7),
       (2,'Lazio',3,2,1,0,5,2,3,7),
       (3,'Torino',3,2,1,0,4,2,2,7),
       (4,'Roma',3,2,1,0,3,1,2,7),
       (5,'Napoli',2,2,0,0,9,2,7,6),
       (6,'Inter Milan',3,2,0,1,6,4,2,6),
       (7,'Juventus',3,1,2,0,4,1,3,5),
       (8,'Atalanta',2,1,1,0,3,1,2,4),
       (9,'Fiorentina',2,1,1,0,3,2,1,4),
       (10,'Udinese',3,1,1,1,4,5,-1,4),
       (11,'sassuolo',3,1,1,1,3,5,-2,4),
       (12,'Spezia',3,1,1,1,3,5,-2,4),
       (13,'Empoli',2,0,1,1,0,1,-1,1),
       (14,'Salernitana',2,0,1,1,0,1,-1,1),
       (15,'Sampdoria',2,0,1,1,0,2,-2,1),
       (16,'Verona',2,0,1,1,3,6,-3,1),
       (17,'Bologna',3,0,1,2,2,5,-3,1),
       (18,'Lecce',2,0,0,2,1,3,-2,0),
       (19,'Cremonese',3,0,0,3,3,6,-3,0),
       (20,'Monza',3,0,0,3,2,8,-6,0)]

mycursor.executemany(il,val)
mydb.commit()

In [47]:

mycursor.execute('select * from italian_league')
for y in mycursor:
    print(y)

(1, 'AC Milan', 3, 2, 1, 0, 7, 3, 4, 7)
(2, 'Lazio', 3, 2, 1, 0, 5, 2, 3, 7)
(3, 'Torino', 3, 2, 1, 0, 4, 2, 2, 7)
(4, 'Roma', 3, 2, 1, 0, 3, 1, 2, 7)
(5, 'Napoli', 2, 2, 0, 0, 9, 2, 7, 6)
(6, 'Inter Milan', 3, 2, 0, 1, 6, 4, 2, 6)
(7, 'Juventus', 3, 1, 2, 0, 4, 1, 3, 5)
(8, 'Atalanta', 2, 1, 1, 0, 3, 1, 2, 4)
(9, 'Fiorentina', 2, 1, 1, 0, 3, 2, 1, 4)
(10, 'Udinese', 3, 1, 1, 1, 4, 5, -1, 4)
(11, 'sassuolo', 3, 1, 1, 1, 3, 5, -2, 4)
(12, 'Spezia', 3, 1, 1, 1, 3, 5, -2, 4)
(13, 'Empoli', 2, 0, 1, 1, 0, 1, -1, 1)
(14, 'Salernitana', 2, 0, 1, 1, 0, 1, -1, 1)
(15, 'Sampdoria', 2, 0, 1, 1, 0, 2, -2, 1)
(16, 'Verona', 2, 0, 1, 1, 3, 6, -3, 1)
(17, 'Bologna', 3, 0, 1, 2, 2, 5, -3, 1)
(18, 'Lecce', 2, 0, 0, 2, 1, 3, -2, 0)
(19, 'Cremonese', 3, 0, 0, 3, 3, 6, -3, 0)
(20, 'Monza', 3, 0, 0, 3, 2, 8, -6, 0)

In [51]:

mycursor.execute('create table French_League(positionID int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null, Draw int not null, Lost int not null, GoalFor int not null, GoalAgainst int not null,Goaldifference int not null,Point int not null)')

0

In [52]:
fl = 'insert into French_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,GoalAgainst,Goaldifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
var = [(1,'RC Lens',4,3,1,0,9,4,5,10),
       (2,'Paris Saint-Germain',3,3,0,0,17,3,14,9),
       (3,'Marseille',3,2,1,0,7,3,4,7),
       (4,'Lille',4,2,1,1,9,10,-1,7),
       (5,'Auxerre',4,2,1,1,6,7,-1,7),
       (6,'Lyon',2,2,0,0,6,2,4,6),
       (7,'Clermont',3,2,0,1,5,7,-2,6),
       (8,'Toulouse',3,1,2,0,6,3,3,5),
       (9,'Brest',3,1,1,1,6,5,1,4),
       (10,'Lorient',2,1,1,0,3,2,1,4),
       (11,'Rennes',4,1,1,2,4,5,-1,4),
       (12,'Monaco',3,1,1,1,4,6,-2,4),
       (13,'Montpellier',3,1,0,2,6,9,-3,3),
       (14,'Nantes',3,0,2,1,2,3,-1,2),
       (15,'Nice',3,0,2,1,2,3,-1,2),
       (16,'Angers',3,0,2,1,3,5,-2,2),
       (17,'Strasbourg',4,0,2,2,3,5,-2,2),
       (18,'AC Ajaccio',4,0,1,3,3,7,-4,1),
       (19,'Reims',3,0,1,2,4,9,-5,1),
       (20,'Troyes',3,0,0,3,3,10,-7,0)]

mycursor.executemany(fl,var)
mydb.commit()

In [53]:
mycursor.execute('select * from french_league')
for z in mycursor:
    print(z)

(1, 'RC Lens', 4, 3, 1, 0, 9, 4, 5, 10)
(2, 'Paris Saint-Germain', 3, 3, 0, 0, 17, 3, 14, 9)
(3, 'Marseille', 3, 2, 1, 0, 7, 3, 4, 7)
(4, 'Lille', 4, 2, 1, 1, 9, 10, -1, 7)
(5, 'Auxerre', 4, 2, 1, 1, 6, 7, -1, 7)
(6, 'Lyon', 2, 2, 0, 0, 6, 2, 4, 6)
(7, 'Clermont', 3, 2, 0, 1, 5, 7, -2, 6)
(8, 'Toulouse', 3, 1, 2, 0, 6, 3, 3, 5)
(9, 'Brest', 3, 1, 1, 1, 6, 5, 1, 4)
(10, 'Lorient', 2, 1, 1, 0, 3, 2, 1, 4)
(11, 'Rennes', 4, 1, 1, 2, 4, 5, -1, 4)
(12, 'Monaco', 3, 1, 1, 1, 4, 6, -2, 4)
(13, 'Montpellier', 3, 1, 0, 2, 6, 9, -3, 3)
(14, 'Nantes', 3, 0, 2, 1, 2, 3, -1, 2)
(15, 'Nice', 3, 0, 2, 1, 2, 3, -1, 2)
(16, 'Angers', 3, 0, 2, 1, 3, 5, -2, 2)
(17, 'Strasbourg', 4, 0, 2, 2, 3, 5, -2, 2)
(18, 'AC Ajaccio', 4, 0, 1, 3, 3, 7, -4, 1)
(19, 'Reims', 3, 0, 1, 2, 4, 9, -5, 1)
(20, 'Troyes', 3, 0, 0, 3, 3, 10, -7, 0)